@import "tailwindcss";
@import "@nuxt/ui";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --font-family-sans: 'Inter', sans-serif;
}

html {
  scrollbar-gutter: stable;
}

.page-enter-active,
.page-leave-active {
  transition: all 150ms;
}
.page-enter-from,
.page-leave-to {
  transform: translateY(20px);
  opacity: 0;
}
